.thankscard {
    padding: 76px;
    padding-bottom: 130px;
    background-color: white;
}

.tanks {
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    width: 65%;
}

.thanksbackbtn {
    text-decoration: none;
    background-color: rgb(62, 62, 255);
    color: white;
    border-radius: 15px;
    display: block;
    text-align: center;
    height: 37px;
    margin: 10px;
    padding-top: 10px;
}


.form-rating {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.star-btn {
    background: none;
    border: none;
    cursor: pointer;
}

.star-img {
    width: 30px;
    height: 30px;
    transition: opacity 0.3s ease;
}

.error {
    color: #ff6200;
}

.store_review_card {
    display: flex;
}

.store_review {
    border-right: 3px solid #c9c9c9;
    padding: 5%;
    height: 30%;
}

.reviewcard {
    padding-left: 5%;
    padding-top: 5%;
}

.star-img {
    width: 100%;
    height: 100%;
}

.review_textarea {
    width: 200%;
    height: 100px;
}

.text {
    width: 200%;
    text-align: end;
    margin-top: -2%;
}

.file-upload-wrapper {
    border: 2px solid #ccc;
    width: 200%;
    text-align: center;
    background-color: white;
}

.drag-drop-inside {
    background-color: white;
}

.drag-drop-info {
    background-color: white;
    font-size: 20px;
}

.file_input {
    background-color: white;
}

.submitbtn {
    background-color: white;
    border: none;
    margin-left: -140%;
    margin-top: 50px;
    padding: 20%;
    padding-top: 25px;
    width: 250%;
    height: 0px;
    border-radius: 50px;
    font-size: 23px;
}

.thanks_text {
    background-color: white;
}



@media screen and (max-width:1723px) {
    .card {
        height: auto;
        border-radius: 8px;
        overflow: hidden;
        box-shadow: 0 4px 15px rgba(0, 0, 0, .2);
        margin: 5% 15%;
    }

    .thanksbackbtn {
        text-decoration: none;
        background-color: rgb(62, 62, 255);
        color: white;
        border-radius: 15px;
        display: block;
        text-align: center;
        height: 37px;
        margin: 10%;
        padding-top: 10px;
    }
}

@media screen and (max-width:1550px) {

    .store_review {
        border-right: 3px solid #c9c9c9;
        height: 30%;
        padding-top: 8%;
        padding-right: 0%;
    }

    .reviewcard {
        padding-left: 5%;
        padding-top: 0%;
    }
}

@media screen and (max-width:1335px) {
    .card {
        height: auto;
        border-radius: 8px;
        overflow: hidden;
        box-shadow: 0 4px 15px rgba(0, 0, 0, .2);
        margin: 5% 20%;
    }

    .review_textarea {
        width: 160%;
        height: 100px;
    }

    .text {
        width: 164%;
        text-align: end;
        margin-top: -2%;
    }

    .file-upload-wrapper {
        border: 2px solid #ccc;
        width: 160%;
        text-align: center;
        background-color: white;
    }

    .review_textarea {
        width: 165%;
        height: 100px;
    }

    .text {
        width: 171%;
        text-align: end;
        margin-top: -2%;
    }

    .file-upload-wrapper {
        border: 2px solid #ccc;
        width: 165%;
        text-align: center;
        background-color: white;
    }



}

@media screen and (max-width:1470px) {
    .tanks {
        font-size: 18px;
        font-weight: bold;
        text-align: center;
    }

    .thanksbackbtn {
        text-decoration: none;
        background-color: rgb(62, 62, 255);
        color: white;
        border-radius: 15px;
        display: block;
        text-align: center;
        height: 37px;
        margin: 10%;
        padding-top: 10px;
    }
}

@media screen and (max-width:1284px) {
    .submitbtn {
        background-color: white;
        border: none;
        margin-left: -89%;
        margin-top: 50px;
        padding: 20%;
        padding-top: 25px;
        width: 250%;
        height: 0px;
        border-radius: 50px;
        font-size: 23px;
    }
}

@media screen and (max-width:1080px) {
    .store_review {
        border-right: 3px solid #c9c9c9;
        height: 30%;
        padding-top: 2%;
        padding-left: 0%;
    }

    .review_textarea {
        width: 140%;
        height: 100px;
    }

    .text {
        width: 146%;
        text-align: end;
        margin-top: -2%;
    }

    .file-upload-wrapper {
        border: 2px solid #ccc;
        width: 142%;
        text-align: center;
        background-color: white;
    }

    .submitbtn {
        background-color: white;
        border: none;
        margin-left: -113%;
        margin-top: 50px;
        padding: 20%;
        padding-top: 25px;
        width: 250%;
        height: 0px;
        border-radius: 50px;
        font-size: 23px;
    }
}

@media screen and (max-width:978px) {
    .store_review {
        display: flex;
    }

    .tanks {
        font-size: 18px;
        font-weight: bold;
        text-align: center;
        margin-top: 25%;
        width: 50%;
    }

    .store_review_card {
        display: inline-block;
    }

    .store_review {
        border: none;
    }

    .review_textarea {
        width: 100%;
        height: 100px;
    }

    .text {
        width: 100%;
        text-align: end;
        margin-top: -2%;
    }

    .file-upload-wrapper {
        border: 2px solid #ccc;
        width: 100%;
        text-align: center;
        background-color: white;
    }

    .submitbtn {
        background-color: white;
        border: none;
        margin-left: 0%;
        margin-top: 50px;
        padding: 12%;
        padding-top: 23px;
        width: 100%;
        height: 0px;
        border-radius: 50px;
        font-size: 23px;
    }
}

@media screen and (max-width:768px) {
    .tanks {
        font-size: 18px;
        font-weight: bold;
        text-align: center;
    }

    .thanksbackbtn {
        text-decoration: none;
        background-color: rgb(62, 62, 255);
        color: white;
        border-radius: 15px;
        display: block;
        text-align: center;
        height: 37px;
        margin: 10%;
        padding-top: 10px;
    }
}

@media screen and (max-width:678px) {
    .card {
        height: auto;
        border-radius: 8px;
        overflow: hidden;
        box-shadow: 0 4px 15px rgba(0, 0, 0, .2);
        margin: -4%;
    }
}

@media screen and (max-width:438px) {
    .tanks {
        font-size: 9px;
        font-weight: bold;
        text-align: center;
    }

    .thanksbackbtn {
        text-decoration: none;
        background-color: rgb(62, 62, 255);
        color: white;
        border-radius: 15px;
        display: block;
        text-align: center;
        height: 19px;
        margin: 25%;
        padding-top: 3px;
        font-size: 11px;
    }
}